<h2>Profile:</h2>

<div class = "box">
	<label>First Name:</label>
	<span><%= current_user.first_name %></span> <br />

	<label>Last Name:</label>
	<span><%= current_user.last_name %></span><br />

	<label>Email:</label>
	<span><%= current_user.email %></span>
</div>